.Detail {
    width: 95%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 20px;
}

.Detail-header-img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
